receivers:
  kafka:
    brokers: [{{ brokers }}]
    logs:
      topics:
        - {{ topic }}
      encoding: {{ encoding }}

processors:
  resourcedetection:
    detectors: ["system"]
    system:
      hostname_sources: ["os"]

exporters:
  splunk_hec:
    token: {{ splunk_hec_token }}
    endpoint: {{ splunk_hec_endpoint }}
    source: {{ source }}
    sourcetype: {{ sourcetype }}
    index: {{ splunk_index }}
    splunk_app_name: "soc4kafka"
    tls:
      insecure_skip_verify: {{ insecure_skip_verify | default(false) | lower }}  # Set to true to skip TLS verification (not recommended for production)
    sending_queue:
      enabled: true
      num_consumers: 10
      queue_size: 10000
      block_on_overflow: true
      sizer: items
      batch:
        min_size: 8192

service:
  pipelines:
    logs:
      receivers: [kafka]
      processors: [resourcedetection]
      exporters: [splunk_hec]
