---
receivers:
  kafka:
    brokers: [ {{ .KafkaBrokerAddress }} ]
    logs:
      topics:
        - {{ .KafkaRegexTopicName }}
      encoding: "text"

exporters:
  splunk_hec:
    token: {{ .SplunkHECToken }}
    endpoint: {{ .SplunkHECEndpoint }}
    tls:
      insecure_skip_verify: true
    source: {{ .Source }}
    sourcetype: {{ .Sourcetype }}
    index: {{ .Index }}
    sending_queue:
      enabled: true
      num_consumers: 10
      queue_size: 10000
      block_on_overflow: true
      sizer: items
      batch:
        min_size: 8192

service:
  telemetry:
    logs:
      level: info
      output_paths:
        - ../logs/regex-otel-collector.log
        - stdout
      error_output_paths:
        - ../logs/regex-otel-collector-errors.log
        - stderr
  pipelines:
    logs:
      receivers: [ kafka ]
      exporters: [ splunk_hec ]
