---
receivers:
  kafka:
    brokers: [ {{ .KafkaBrokerAddress }} ]
    logs:
      topics:
        - {{ .KafkaRegexTopicName }}
      encoding: "text"

processors:
  batch:

exporters:
  splunk_hec:
    token: {{ .SplunkHECToken }}
    endpoint: {{ .SplunkHECEndpoint }}
    tls:
      insecure_skip_verify: true
    source: {{ .Source }}
    sourcetype: {{ .Sourcetype }}
    index: {{ .Index }}

service:
  telemetry:
    logs:
      level: info
      output_paths:
        - ../logs/regex-otel-collector.log
        - stdout
      error_output_paths:
        - ../logs/regex-otel-collector-errors.log
        - stderr
  pipelines:
    logs:
      receivers: [ kafka ]
      processors: [ batch ]
      exporters: [ splunk_hec ]
