---
receivers:
  kafka:
    brokers: [ {{ .KafkaBrokerAddress }} ]
    logs:
      topic: {{ .KafkaTopicName }}
      encoding: "text"

processors:
  transform:
    error_mode: ignore
    log_statements:
      - set(log.attributes["extracted_ts"], ExtractPatterns(log.body, "{{ .ExtractPattern }}"))
      - set(log.time, Time(log.attributes["extracted_ts"]["timestamp"], "{{ .FormatStr }}", "UTC"))
      - delete_key(log.attributes, "extracted_ts")
  batch:

exporters:
  splunk_hec:
    token: {{ .SplunkHECToken }}
    endpoint: {{ .SplunkHECEndpoint }}
    tls:
      insecure_skip_verify: true
    source: {{ .Source }}
    sourcetype: {{ .Sourcetype }}
    index: {{ .Index }}

service:
  telemetry:
    logs:
      level: info
      output_paths:
        - ../logs/timestamp-extraction-otel-collector.log
        - stdout
      error_output_paths:
        - ../logs/timestamp-extraction-otel-collector-errors.log
        - stderr
  pipelines:
    logs:
      receivers: [ kafka ]
      processors: [ batch, transform ]
      exporters: [ splunk_hec ]
