apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "soc4kafka.fullname" . }}-config
  labels:
    {{- include "soc4kafka.labels" . | nindent 4 }}
data:
  config.yaml: |
    {{- include "soc4kafka.finalConfig" . | nindent 4 }}